<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Art Gallery</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container mb-6">
      {% include 'nav.html' %}
      <h1 style="font-size: 2.5em" class="text-center">Objects Table</h1>
      {% if 'objects' %}
      <table class="table" id="object_table">
        <tr>
          <th>Object ID</th>
          <th>Access Id</th>
          <th>Location Id</th>
          <th>Title</th>
          <th>Display Date</th>
          <th>Visual Browser Time Span</th>
          <th>Medium</th>
          <th>Attribution</th>
          <th>Action</th>
        </tr>
        {% for u in obj %}
        <tr>
          <td>{{ u[0] }}</td>
          <td>{{ u[1] }}</td>
          <td>{{ u[2] }}</td>
          <td>{{ u[3] }}</td>
          <td>{{ u[4] }}</td>
          <td>{{ u[5] }}</td>
          <td>{{ u[6] }}</td>
          <td>{{ u[7] }}</td>
          <td><button class="edit_objects">Edit</button></td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
      <h1 style="font-size: 2.5em" class="text-center">Objects Historical Data Table</h1>
      {% if 'objects_historical_data' %}
      <form action="" method="post" name="obj_hist_data" id="obj_hist_data">
        <table class="table">
          <tr>
            <th>Data Type</th>
            <th>Object ID</th>
            <th>Display Order</th>
            <th>Forward Text</th>
            <th>Inverted Text</th>
            <th>Remarks</th>
            <th>Effective Date</th>
          </tr>
          {% for u in obj_hist %}
          <tr>
            <td>{{ u[0] }}</td>
            <td>{{ u[1] }}</td>
            <td>{{ u[2] }}</td>
            <td>{{ u[3] }}</td>
            <td>{{ u[4] }}</td>
            <td>{{ u[5] }}</td>
            <td>{{ u[6] }}</td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}

       
      </form>
    </div>
    {% include 'footer.html' %}
    <script>
      let eTable = document.getElementById("object_table");
      let rowLength = eTable.rows.length;
      let totalEmp = [];
      let headers = [];
      let myArray = [];
      for (let i = 0; i < rowLength; i++) {
        //gets cells of current row
        myArray[i] = eTable.rows.item(i);

        let oCells = myArray[i].cells;
        let cellLength = oCells.length;
        let rowData = {};

        for (let j = 0; j < oCells.length; j++) {
          if (i == 0) {
            //reading the table headers
            let cellVal = oCells.item(j).innerHTML;
            headers.push(cellVal);
          } else {
            //reading the table data
            myArray[i].classList.add(`input${i}`);
            let cellVal = oCells.item(j).innerHTML;
            let headerName = headers[j];
            rowData[headerName] = cellVal;
          }
        }
        if (i != 0) {
          totalEmp.push(rowData);
        }
      }
      function edit(i){
        let htmltext = "<form action='' method='post' name = 'object_edit' id='object_edit"+i+"'></form><tr><td><input type='number' readonly class='input' name ='objid' value='"
          +totalEmp[i]['Object ID']+
          "' form = 'object_edit"+i+"'></td><td><input type='number' class='input' name='accessid' value='"
          +totalEmp[i]['Access Id']+
          "' form = 'object_edit"+i+"'></td><td><input type='number' class='input' name='locationid' value='"
          +totalEmp[i]['Location Id']+
          "' form = 'object_edit"+i+"'></td><td><input type='text' class='input' name = 'title' value='"
          +totalEmp[i]['Title']+
          "' form = 'object_edit"+i+"'></td><td><input type='text' class='input' name = 'displaydate' value='"
          +totalEmp[i]['Display Date']+
          "' form = 'object_edit"+i+"'></td><td><input type='text' class='input' name = 'browsertime' value='"
          +totalEmp[i]['Visual Browser Time Span']+
          "' form = 'object_edit"+i+"'></td><td><input type='text' class='input' name = 'medium' value='"
          +totalEmp[i]['Medium']+
          "' form = 'object_edit"+i+"'></td><td><input type='text' class='input' name = 'attribution' value='"
          +totalEmp[i]['Attribution']+
          "' form = 'object_edit"+i+"'></td><td><button type='submit' class='input' name = 'save_objects'  form = 'object_edit"+i+"'>Save</button></td></tr>";
          
        document.querySelector(`.input${i+1}`).innerHTML = htmltext; 
      }

      let btnEdit = document.querySelectorAll(".edit_objects");
      for (let i = 0; i < btnEdit.length; i++) {
        btnEdit[i].onclick = function () {
          edit(i);
        };
      }
    </script>
  </body>
</html>
